body{
    
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: roboto;
}

.header-container{
    display: flex;
    justify-content: space-between;
    /* align-items: start; */
    padding: 0px 30px;

    background-color: #1f2937;
    color: #F9FAF8;
}
#logo{
    width: 130px;
    height: 120px;
    border-radius: 50%;
}
figure{
    text-align: center;
    font-size: 24px;
    font-weight:700;
    color: #F9FAF8;
}
ul{
    display: flex;
    list-style-type: none;
    gap: 70px;
}
a{
    text-decoration: none;
    color: #E5E7EB;
}

#hero-container{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 85px 0px  100px 0px;
}
#hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}
#hero-main-text{
    font-size: 48px;
    color: #F9FAF8;
    margin: 0;
}
#hero-left{
    width: 500px;
}
#hero-second-text{
    color: #E5E7EB;
    font-size: 18px;
}
#btn-1{
    cursor: pointer;
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    padding: 5px 35px;
    color: #E5E7EB;
    font-weight: 800;
}
#hero-image{
    width: 590px;
    height: 270px;
}

.content-container{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
#section1-header{
    text-align: center;
    padding: 20px;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}
.image-container{
    width: 200px;
    margin-right: 40px;
}
.sec1-img{
    width: 200px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 3px;
}

#section-2{    
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
}
#quote-container{
    width: 750px;
    height: auto;
    margin-top: 40px;
    font-size: 30px;
    font-style: italic;
    font-weight:300;
}
#author{
    font-size: 25px;
    text-align: right;
    font-weight:600;
}

#section-3{
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    /* border: 1px solid black; */

}
#contact-us{
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 40px 100px;
    margin: 50px 0px;
    background-color: #3882F6;
    border-radius: 10px;
    color: #E5E7EB;
    /* border: 1px solid black; */
}
#sec3-text, #sec3-text2{
  margin: 0;
}
#sec3-text{
    font-weight: 600;
}
#sec3-text2{
    font-weight: 300;
}
#sign-up{
    border: 2px solid #F9FAF8;
    border-radius: 5px;
    padding: 5px 40px;
    background-color: transparent;
    color: #E5E7EB;
    font-weight: 600;
}
